<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edicion de estudiante</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1>Editar Estudiante</h1>
    <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
<form th:action="@{/actualizarEstudiante/{id}(id=${estudiante.id_estudiante})}" th:object="${estudiante}" method="post" class="border p-4 rounded bg-light">
    <div>
        <label for="id_estudiante">identificacion del estudiante:</label>
        <input type="text" id="id_estudiante" th:field="*{identificacion}" placeholder="identificacion del estudiante" class="form-control" required>
    </div>
    <div>
        <label for="nombre">Nombre del estudiante:</label>
        <input type="text" id="nombre" th:field="*{nombre}" placeholder="nombre del estudiante" class="form-control" required>
    </div>
    <div>
        <label for="apellido">Apellido del estudiantete:</label>
        <input type="text" id="apellido" th:field="*{apellido}" placeholder="apellido del estudiante" class="form-control" required>
    </div>
    <div>
        <label for="correo">Correo:</label>
        <input type="text" id="correo" th:field="*{correo}" placeholder="Correo del estudiante" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="curso">Curso:</label>
        <select id="curso" name="idCurso" class="form-control" required>
            <option th:each="cursos : ${curso}" th:value="${cursos.id_curso}" th:text="${cursos.nombre_curso}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</body>
</html>