<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de cursos</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1 class="text-center mb-4">Lista de Cursos</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre del curso</th>
      <th>Año escolar</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curso : ${curso}">
      <td th:text="${curso.id_curso}"></td>
      <td th:text="${curso.nombre_curso}"></td>
      <td th:text="${curso.año_Escolar}"></td>
      <td>
        <a th:href="@{/cursos/{idCurso}(idCurso=${curso.id_curso})}">ver estudiantes</a>
      </td>
    </tr>
    </tbody>
</table>


<div class="text-center mt-4">
  <a class="btn btn-success" href="/nuevoCurso">nuevo curso</a>
</div>

</body>
</html>